
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'open sans';
}

.wrapper {
    display: flex;
    width: 70%;
    max-width: 1000px;
    margin: 0 auto;
    flex-direction: column;
    padding: 10px;
}


#filters {
    display: flex;
    flex-direction: column;
    margin: 20px 0;
}

.keyval-list {

    display: flex;
    flex-direction: row;  // (default)

    & p {
        padding: 3px 15px;
        font-size: 14px;
        text-align: center;
        margin: 2px;
    }

    & .key {
        width: 100px;
        text-align: right;
        font-weight: bold;
        //background-color: #aaa;
    }

    & .val {
        $color: hsl(205, 100%, 90%);
        cursor: pointer;

        border: 1px solid darken($color, 60%);
        border-radius: 3px;

        user-select: none;
        background-color: $color;

        &:hover:not(.selected) { 
            background-color: darken($color, 5%);
        }

        &.selected {
            background-color: darken($color, 30%);
        }
    }
}

.row {
    display: flex;
    justify-items: center;
    align-content: space-between;
    border: 1px solid #999;
}

.cell {
    flex: 1;
    font-size: 14px;
    text-align: center;
    padding: 3px;
}

#header {

    $color: hsl(205, 50%, 95%);  // non-DRY

    .cell {
        font-weight: bold;
        cursor: pointer;
        background-color: darken($color, 10%);
        padding-top: 5px;
        padding-bottom: 5px;
        &:hover {
            background-color: darken($color, 20%);
        }
    }
}

#records {
    $color: hsl(205, 50%, 95%);
    background-color: $color;
    border: 1px solid #333;

    .record:not(.selected) {
        display: none;
    }

    .record:hover {
        cursor: pointer;
        background-color: darken($color, 10%);
        outline: 2px solid darken($color, 60%);

    }
}

